<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header">
      this is a header
      <ul>
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'Meet our team', contacts_path %></li>
        <li><%= link_to 'About us', about_path %></li>
      </ul>
    </nav>

    <%= yield %>

    <nav class="footer">
      this is a footer
    </nav>
  </body>
</html>
